
a {
	color: @rojoUnivalle !important;
}

.galleys_links .pdf, .galleys_links .file, .galleys_links .xml {
    color: @rojoUnivalle;
    font-family: Verdana;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(255, 255, 255, 0);
    border: solid @rojoUnivalle 1px !important;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
 }
 
 .galleys_links .pdf:hover, .galleys_links .pdf:focus, .galleys_links .file:hover, .galleys_links .file:focus, .galleys_links .xml:hover, .galleys_links .xml:focus {
    background: @rojoUnivalle;
    text-decoration: none;
    color: #ffffff !important;
 }

 .current_issue_title{
   font-size: 1.6em;
}